<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated renderer -->
      <package
            uri="http://www.frateranatis.org/ui"
            class="de.dc.fx.ui.renderer.model.UIPackage"
            genModel="model/renderer.xcore"/>
   </extension>

</plugin>
